<div class="header">
    <h3>Employer Dashboard</h3>
</div>
<div class="items">
  <div class="row b-p">
    <div class="col-md-4 b-r">
        <a class="item" routerLink="ManageJobs" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-briefcase"></i>
            </div>
            <h6 class="text-center">Manage Jobs</h6>
            <p class="text-center">(22 open positions)</p>
        </a>
    </div>
    <div class="col-md-4 b-r">
        <a class="item " routerLink="PostJob" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-location-arrow"></i>
            </div>
            <h6 class="text-center">Post New Job</h6>
            <p class="text-center">(6 open positions)</p>
        </a>
    </div>
    <div class="col-md-4">
        <a class="item" routerLink="../EmployerProfile" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-file-alt"></i>
            </div>
            <h6 class="text-center">My Profile</h6>
            <p class="text-center">View Profile</p>
        </a>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4 b-r">
        <a class="item" routerLink="Transactions" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-exchange-alt"></i>
            </div>
            <h6 class="text-center">Transactions</h6>
            <p class="text-center">(22 open positions)</p>
        </a>
    </div>
    <div class="col-md-4 b-r">
      <a class="item " routerLink="ChangePassword" routerLinkActive="active">
          <div class="icon">
            <i class="fas fa-key"></i>
          </div>
          <h6 class="text-center">Change Password</h6>
          <p class="text-center">(3 open positions)</p>
      </a>
    </div>

    <div class="col-md-4">
      <a class="item " routerLink="MyProfile" routerLinkActive="active">
          <div class="icon">
            <i class="fas fa-file"></i>
          </div>
          <h6 class="text-center">Create a Profile</h6>
          <p class="text-center">Edit Profile</p>
      </a>

    </div>

  </div>
</div>
