
    <footer class="">
      <div class="footer ">
        <div class="container">
          <div class="row">
            <div class="col-md-3 column-1">
              <div class="logo">
                <img src="/../../assets/images/logo.png">
              </div>
              <div class="Address">
                <p>Collins Street West, Victoria 8007, Australia.<br>
                   +1 246-345-0695<br>
                   info@jobhunt.com</p>
              </div>
              <div class="social-icon">
                <ul class="list-unstyled text-small">
                  <li><a href="" target="_blank"> <i class="fab fa-facebook" aria-hidden="true"> </i></a></li>
                  <li><a href="" target="_blank"> <i class="fab fa-twitter" aria-hidden="true"> </i></a></li>
                  <li><a href="" target="_blank"> <i class="fab fa-instagram" aria-hidden="true"> </i></a></li>
                  <li><a href="" target="_blank"> <i class="fab fa-pinterest" aria-hidden="true"> </i></a></li>
                  <li><a href="" target="_blank"> <i class="fab fa-dribbble" aria-hidden="true"> </i></a></li>
                  <li><a href="" target="_blank"> <i class="fab fa-google-plus-g" aria-hidden="true"> </i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <h5>Frequently Asked Questions</h5>
              
              <div class="row">
                <div class="col-md-6 col-sm-6 content">
                  <ul class="list-unstyled text-small">
                    <li><a  href="">Privacy & Security </a></li>
                    <li><a  href="">Terms of Service</a></li>
                    <li><a  href="">Communications</a></li>
                    <li><a  href="">Refer Terms</a></li>
                    <li><a  href="">Lending Licenses</a></li>
                    <li><a  href="">Disclaimers</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-6 content">
                  <ul class="list-unstyled text-small">
                    <li><a  href="">Support</a></li>
                    <li><a  href="">How It Works</a></li>
                    <li><a  href="">For Employers</a></li>
                    <li><a  href="">Underwriting</a></li>
                    <li><a  href="">Contact Us</a></li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="col-md-2 col-sm-6 content">
              <h5>Find Jobs</h5>
              <ul class="list-unstyled text-small">
                <li><a  href="">Us Jobs</a></li>
                <li><a  href="">Canada Jobs</a></li>
                <li><a  href="">Uk Jobs</a></li>
                <li><a  href="">Emplois en France</a></li>
                <li><a  href=""> Jobs in Deutschla</a></li>
                <li><a  href="">Vacatures in Nederlands</a></li>
              </ul>
            </div>

            <div class="col-md-2 content our-store">
              <button class="btn btn-success">
                <div class="button-mobApp btn-rounded-small btn-lg">
                  <img src="/../../assets/images/apple.png">
                  <div class="info">
                    <p>App Store</p>
                    <span>Available now on the</span>
                  </div>
                </div>
              </button>
              <button class="btn btn-success">
                <div class="button-mobApp btn-rounded-small btn-lg">
                  <img src="/../../assets/images/googleStore.png">
                  <div class="info">
                    <p>Google Play</p>
                    <span>Get In now on</span>

                  </div>
                </div>
              </button>
            </div>


          </div>
        </div>
    </div>
    <div class="copyRight">
      <p class="text-center">© 2018 All rights reserved. Design by Alaa Elmohr</p>
    </div>
    </footer>
