@import '../../../../assets/sass/variables';

.changePassword{
   padding: 50px 0px;
  .header{
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 20px;
    h3{
      color:$black;
      font-family: $Quicksand;
      font-size: 20px;
    }
  }
  .row{
    margin-top: 10px;
  }
  .input-group{
      padding-top: 10px;
  }
  .form-control{
      border-radius: 10px;
      border: 1px solid transparent;
      border-top: 1px solid $borderGrey;
      border-bottom: 1px solid $borderGrey;
      border-left: 1px solid $borderGrey;
      border-right: 1px solid $borderGrey;
      font-family: $openSans;
      font-size: 13px;

  }
  ::placeholder{
   color:#a7a7a7;
   font-family: $openSans;
   font-size: 13px;
  }
  .update{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  label{
    padding-top: 10px;
    color:$black;
    font-family: $openSans;
    font-size: 14px;
  }
  .btn-primary{
    background-color: transparent !important;
    border-color: $pink;
    color:$pink;
    width: 140px;
    float: right;

  }
  .background{
    margin-top: 10px;
    background:url(/../../../../assets/images/password-background.png);
    background-size: contain;
    height:100%;
  }
}
