<div class="changePassword">
  <div class="header">
      <h3>Change Password</h3>
  </div>
  <div class="row">
      <div class="col-md-5">
        <form (ngSubmit)="onSubmit(changePassword)" #changePassword="ngForm">
          <label for="exampleInputEmail1">Old Password</label>
           <div class="input-group mb-3">
           <input type="password" class="form-control" ngModel name="oldPassword" >
          </div>
          <label for="exampleInputEmail1">New Password</label>
          <div class="input-group mb-3">
           <input type="password" class="form-control" ngModel name="password" >
          </div>
          <label for="exampleInputEmail1">Confirm Password</label>
          <div class="input-group mb-3">
           <input type="password" class="form-control" ngModel name="retryPassword" >
          </div>
          <div class="update">
              <button class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <div class="background"></div>
      </div>
  </div>
</div>
