@import '../../assets/sass/variables';
.contact-us{
  margin-top: 20px;
  padding-bottom: 40px;
  .map{
    border-radius: 20px;
    margin-top: 50px;
  }
  agm-map {
  height: 350px;
  }
  .content{
    margin-top: 50px;
  }
  h3{
    color:$black;
    font-family: $Quicksand;
     font-size: 20px;
  }
  .form{
    .input-group{
        padding-top: 10px;
    }
    .form-control{
        border-radius: 10px;
        border: 1px solid transparent;
        border-top: 1px solid $borderGrey;
        border-bottom: 1px solid $borderGrey;
        border-left: 1px solid $borderGrey;
        border-right: 1px solid $borderGrey;
        font-family: $openSans;
        font-size: 13px;

    }
    ::placeholder{
     color:#a7a7a7;
     font-family: $openSans;
     font-size: 13px;
    }
    textarea{
      overflow-x: hidden;
      overflow-y: hidden;
    }
    label{
      padding-top: 10px;
      color:$black;
      font-family: $openSans;
      font-size: 14px;
    }
  }
  .contact-info{

    padding:40px;
    background-color: $borderGrey;
    border-radius: 20px;
     .info{
       display: -webkit-box;
       margin-top: 30px;
         p{
           color:$grey;
           font-size: 14px;
           font-family: $openSans;
           line-height: 2.5em;
         }
         img{
           margin-right: 30px;
         }
     }
  }
}
