.feedback{
   padding: 50px 0px;
  .header{
    border-bottom: 1px solid #edeff7;
    padding-bottom: 20px;
    h3{
      color:#202020;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
    }
  }
  .row{
    margin-top: 10px;
  }
  .input-group{
      padding-top: 10px;
  }
  .form-control{
      border-radius: 10px;
      border: 1px solid transparent;
      border-top: 1px solid #e6e8ef;
      border-bottom: 1px solid #e6e8ef;
      border-left: 1px solid #e6e8ef;
      border-right: 1px solid #e6e8ef;
      font-family: 'Quicksand', sans-serif;
      font-size: 13px;

  }
  ::placeholder{
   color:#a7a7a7;
   font-family: 'Quicksand', sans-serif;
   font-size: 13px;
  }
  .update{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  label{
    padding-top: 10px;
    color:#202020;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
  }
  .btn-primary{
    background-color: transparent !important;
    border-color: #fb236a;
    color:#fb236a;
    width: 140px;
    float: right;

  }
  .background{
    margin-top: 10px;
    background:url(/../../../../assets/images/password-background.png);
    background-size: cover;
    height:100%;
  }
}
