<div class="header">
    <h3>Candidates Dashboard</h3>
</div>
<div class="items">
  <div class="row b-p">
    <div class="col-md-4 b-r">
        <a class="item" routerLink="AppliedJobs" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-briefcase"></i>
            </div>
            <h6 class="text-center">Applied Job</h6>
        </a>
    </div>
    <div class="col-md-4 b-r">
        <a class="item" routerLink="../Candinate/Pofile" routerLinkActive="active">
            <div class="icon">
              <i class="far fa-file-alt"></i>
            </div>
            <h6 class="text-center">My Profile</h6>
        </a>
    </div>
    <div class="col-md-4">
        <a class="item " routerLink="MyProfile" routerLinkActive="active">
            <div class="icon">
              <i class="far fa-file"></i>
            </div>
            <h6 class="text-center">Create Profile</h6>
        </a>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4 b-r">
        <a class="item" routerLink="Proposals" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-exchange-alt"></i>
            </div>
            <h6 class="text-center">Proposals</h6>
        </a>
    </div>
    <div class="col-md-4 b-r">
        <a class="item" routerLink="ChangePassword" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-key"></i>
            </div>
            <h6 class="text-center">Change Password</h6>
        </a>
    </div>

    <div class="col-md-4">
        <a class="item" routerLink="ShortlistedJobs" routerLinkActive="active">
            <div class="icon">
              <i class="fas fa-pause"></i>
            </div>
            <h6 class="text-center">Shortlisted Jobs</h6>
        </a>
    </div>

  </div>
</div>
