$white:#fff;
$pink:#fb236a;
$black:#202020;
$lightPurple:#8b91dd;
$darkPurple:#141f72;
$lightGrey:#edeff7;
$spanGrey:#d5d8f3;
$footer:#24324a;
$copyRight:#1d293e;
$footerfont:#8a99b3;
$grey:#888888;
$borderGrey:#e6e8ef;
$iconGrey:#babebe;
