<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Warsha App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" >
    <script defer src="http://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='http://warsha-c9d2.kxcdn.com/stylesheets/style.css'/>
</head>
<body>
  <app-root> <!-- selector from app.component.ts -->

    <!-- loading layout replaced by app after startupp -->
    <div class="app-loading">
      <div class="overlay-spinner">
        <div class="logo">
          <h4>Loading....</h4>
        </div>
        <svg class="spinner" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>

    </div>

  </app-root>
<script src="http://warsha-c9d2.kxcdn.com/js/app/bundle.js"></script>
</body>
</html>
