<div class="manage-job">
    <div class="header">
        <h3>Contract</h3>
    </div>
    <!--->
    <div class="overview">
       <div class="flex">
           <img src="/../../../../assets/images/jobs.png" />
           <p>9 <span>Job Posted</span></p>
       </div>
       <div class="flex">
           <img src="/../../../../assets/images/application.png" />
           <p>20 <span>Applications</span></p>
       </div>
       <div class="flex">
           <img src="/../../../../assets/images/interview.png" />
           <p>18 <span>Hired People</span></p>
       </div>

    </div>
    <!-->
    <div class="content-contract">
  <table class="table">
    <thead>
      <tr>
        <th> Job Title</th>
        <th>Budget</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody  *ngFor="let contract of contracts | paginate: { itemsPerPage: 10, currentPage: p }" (mouseenter)="makeActive=contract" (mouseleave)="makeActive=-1" [ngClass]="{active:makeActive==contract}">
      <tr >
        <td>
          <p>{{contract.title}}</p>
          <img src="/../../../../assets/images/user2.png" />
          <span>Applied By {{contract.user.name}}</span>
        </td>
        <td>
        <div class="money"><span>{{contract.budget | currency:'USD' }}</span></div>
        <td class="date"><p>{{contract?.startTime | date}}</p></td>
        <td>
          <span>{{contract.status}}</span>
          <div class="rate" *ngFor="let feedback of contract.feedback" >
            <div *ngIf="feedback.status==='fromUserToClient'">
              <div class="rate" [ngClass]="{'m-t-20' : getStars(feedback?.stars) == 0.5}">
                  <fieldset class="rating">
                    <div class="m-t-10">
                      <input type="radio" /><label *ngIf="feedback?.stars == 0.5"  [ngClass]="{'half' :  isInteger(0.5) == false}" ></label>
                    </div>
                    <div *ngFor="let in of  getStars(feedback?.stars)">
                      <input type="radio" /><label class="full"></label>
                      <input type="radio"  /><label  *ngIf="isInteger(feedback?.stars) == false"  [ngClass]="{'half' :  isInteger(feedback?.stars) == false}" ></label>
                    </div>
                  </fieldset>
              </div>
          </div></div>
        </td>
        <td>
          <span matTooltip="Finish Contract" matTooltipClass="primary-tooltip"><img src="/../../../../assets/images/edit.png" (click)="finishContract(contract)" /></span>
        </td>
      </tr>
    </tbody>

  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>
