<div class="messanger-room">
  <div class="messager-header">
     <div class="user-info">
        <div class="user-image">
              <img src="../../../assets/images/profile2.png" />
        </div>
        <div class="user-desc">
           <h5>Michael Wong</h5>
           <p>Online</p>
        </div>
     </div>
     <div class="action">
       <i class="fas fa-phone fa-2x"></i>
       <i class="fas fa-video fa-2x"></i>
     </div>
  </div>
  <div class="messages">
    <div class="message-from ">

       <div class="user-image">
         <img src="../../../assets/images/profile2.png" />
       </div>
       <div class="message-details">
         <span class="fas fa-angle-left"></span>
         <p>
           Hello Ma'am, I am just Putting together a zip containing the proposal and all of the work that I have done so far
         </p>
         <span class="time">11:45am</span>
       </div>
    </div>
    <div class="message-to">
       <div class="message-details">
         <span class="fas fa-angle-right"></span>
         <p>
           Hello Ma'am, I am just Putting together a zip containing the proposal and all of the work that I have done so far
         </p>
         <span class="time">11:45am</span>
       </div>
       <div class="user-image">
         <img src="../../../assets/images/profile3.png" />
       </div>
    </div>
    <div class="message-from">
       <div class="user-image">
         <img src="../../../assets/images/profile2.png" />
       </div>

       <div class="message-details">
         <span class="fas fa-angle-left"></span>
         <p>
           Hello Ma'am, I am just Putting together a zip containing the proposal and all of the work that I have done so far
         </p>
         <span class="time">11:45am</span>
       </div>
    </div>
    <div class="message-to">
       <div class="message-details">
         <span class="fas fa-angle-right"></span>
         <p>
           Hello Ma'am, I am just Putting together a zip containing the proposal and all of the work that I have done so far
         </p>
         <span class="time">11:45am</span>
       </div>
       <div class="user-image">
         <img src="../../../assets/images/profile3.png" />
       </div>
    </div>
    <div class="message-from typing">
      <div class="user-image">
        <img src="../../../assets/images/profile3.png" />
      </div>
       <div class="message-details">
         <span class="fas fa-angle-left"></span>
           <i class="fas fa-ellipsis-h"></i>
       </div>

    </div>
  </div>
  <div class="message-type">
     <div class="type">
       <p>
         Type Your Message here .....
       </p>
     </div>
     <div class="action">
       <i class="fas fa-paperclip fa-2x"></i>
       <i class="fas fa-smile fa-2x"></i>
       <i class="fas fa-location-arrow fa-2x"></i>
     </div>
  </div>

</div>
