@import '../../assets/sass/variables';
.faqs{
  margin-top: 20px;
  padding-bottom: 40px;
  .faq{
      margin-top: 30px;
      padding:30px;
      h5{
        font-family: $Quicksand;
        color:$black;
        padding-top: 10px;
      }
      p{
        color:$grey;
        font-family:  $openSans;
        line-height: 2.5em;
        font-size: 14px;
        padding-top: 10px;
      }
  }
}
