<app-header></app-header>
<section class="faqs">
  <div class="container">
      <div class="row">
       <div class="faq">
         <mat-accordion>
         <mat-expansion-panel expanded="true">
           <mat-expansion-panel-header >
             <mat-panel-title>
               <h5>What is a dummy text?</h5>
             </mat-panel-title>
           </mat-expansion-panel-header>
          <p>Designer at work who don’t have any content for their product yet have the possibility to insert a dummy text into their design to judge on the arrangement of text on their site, on readability or on fonts and sizes. A dummy text is also helpful to present a design without content to a client to show how the text is going to look like without irritating the client by real texts.</p>
         </mat-expansion-panel>
         </mat-accordion>
       </div>
       <div class="faq">
         <mat-accordion>
         <mat-expansion-panel expanded="true">
           <mat-expansion-panel-header >
             <mat-panel-title>
               <h5>Why another dummy text generator?</h5>
             </mat-panel-title>
           </mat-expansion-panel-header>
          <p>Designer at work who don’t have any content for their product yet have the possibility to insert a dummy text into their design to judge on the arrangement of text on their site, on readability or on fonts and sizes. A dummy text is also helpful to present a design without content to a client to show how the text is going to look like without irritating the client by real texts.</p>
         </mat-expansion-panel>
         </mat-accordion>
       </div>
       <div class="faq">
         <mat-accordion>
         <mat-expansion-panel expanded="true">
           <mat-expansion-panel-header >
             <mat-panel-title>
               <h5>Why doesn’t the generator put as many characters as I told him?</h5>
             </mat-panel-title>
           </mat-expansion-panel-header>
          <p>Designer at work who don’t have any content for their product yet have the possibility to insert a dummy text into their design to judge on the arrangement of text on their site, on readability or on fonts and sizes. A dummy text is also helpful to present a design without content to a client to show how the text is going to look like without irritating the client by real texts.</p>
         </mat-expansion-panel>
         </mat-accordion>
       </div>
       <div class="faq">
         <mat-accordion>
         <mat-expansion-panel expanded="true">
           <mat-expansion-panel-header >
             <mat-panel-title>
               <h5>What means “Print special chars as HTML entities”?</h5>
             </mat-panel-title>
           </mat-expansion-panel-header>
          <p>Designer at work who don’t have any content for their product yet have the possibility to insert a dummy text into their design to judge on the arrangement of text on their site, on readability or on fonts and sizes. A dummy text is also helpful to present a design without content to a client to show how the text is going to look like without irritating the client by real texts.</p>
         </mat-expansion-panel>
         </mat-accordion>
       </div>
       <div class="faq">
         <mat-accordion>
         <mat-expansion-panel expanded="true">
           <mat-expansion-panel-header >
             <mat-panel-title>
               <h5>Why is a template text recommended to be as long as possible?</h5>
             </mat-panel-title>
           </mat-expansion-panel-header>
          <p>Designer at work who don’t have any content for their product yet have the possibility to insert a dummy text into their design to judge on the arrangement of text on their site, on readability or on fonts and sizes. A dummy text is also helpful to present a design without content to a client to show how the text is going to look like without irritating the client by real texts.</p>
         </mat-expansion-panel>
         </mat-accordion>
       </div>
      </div>
  </div>
</section>
