<div class="manage-job">
    <div class="header">
        <h3>Manage Jobs</h3>
    </div>
    <div class="overview">
       <div class="flex">
           <img src="/../../../../assets/images/jobs.png" />
           <p>{{client?.jobDoneCount}} <span>Job Done</span></p>
       </div>
       <div class="flex">
           <img src="/../../../../assets/images/application.png" />
           <p>{{client?.jobPostedCount }} <span>Job Posted </span></p>
       </div>
       <div class="flex">
           <img src="/../../../../assets/images/interview.png" />
           <p>{{client?.jobDoneCount}} <span>Hired People</span></p>
       </div>
    </div>
    <div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>Applied Jobs</th>
        <th>Applications</th>
        <th>Deadline</th>
        <th>Completed</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>
          <p>{{job?.title}}</p>
        </td>
        <td>
        <div class="money"><span>{{job?.appCount}}+Applied</span></div>
        <td class="date"><p>{{job?.deadline | date}}</p></td>
        <td ><span>{{job?.complete}}</span></td>
        <td>
          <span matTooltip="View Applications" matTooltipClass="primary-tooltip"><img src="/../../../../assets/images/eye.png" (click)="goToApplication(job?.jobId)"/></span>
          <span matTooltip="Edit" matTooltipClass="primary-tooltip"><img src="/../../../../assets/images/edit.png" [routerLink]="['/DashboardClient/PostJob', job?.jobId]" /></span>
          <span matTooltip="Remove" matTooltipClass="primary-tooltip"><img src="/../../../../assets/images/delete.png" (click)="onDelete(job)"/></span>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
