@import '../../../../assets/sass/variables';
.applied-job{
  padding-top: 50px;
   .header{
     border-bottom: 1px solid $lightGrey;
     padding-bottom: 20px;
     h3{
       color:$black;
       font-family: $Quicksand;
       font-size: 20px;
     }
   }
  .content{
    .hide{
      display: none;
    }
    .table{
     thead {
       th{
      border-bottom: none;
      border-top: none;
      color:$pink;
      font-size: 15px;
      font-weight: bold;
      font-family: $openSans;
      }
      }
      td{
        color:$grey;
        padding: 1.5rem;
        font-size: 13px;
        font-family: $openSans;
        vertical-align: middle;
        p{
          color:$lightPurple;
          font-size: 14px;
          font-family: $openSans;
        }
        span{
          color:$grey;
          font-size: 12px;
          font-family: $openSans;
          padding-left: 5px;
        }
      }

     }
     .rate {
       padding-top: 5px;
       padding-left: 15px;
       .fa-star{
         color:$iconGrey;
       }
     }

  }
  .rating {
    border: none;
    height: 40px;
    margin-left: -10px;
  }
  .rating > div {
    margin-right: 0px !important;
        display: inline;
  }
  .rating > div >  input { display: none; }
  .rating >  div > label:before {
    margin: 2px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }

  .rating > div >  .half:before {
    content: "\f089";
    position: absolute;
  }

  .rating >  div > label {
    color: #FFD700;
    float: left;
  }
  .m-t-20{
    margin-top: -20px
  }
}
