<div class="applied-job">
    <div class="header">
        <h3>Applied Jobs</h3>
    </div>
    <div class="content">
      <table class="table">
    <thead>
      <tr>
        <th>Applied Jobs</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let contract of contracts | paginate: { itemsPerPage: 5, currentPage: p }" (mouseenter)="makeActive=contract" (mouseleave)="makeActive=-1" [ngClass]="{active:makeActive==contract}">
      <tr>
        <td>
          <p>{{contract?.title}}</p>
          <img src="/../../../../assets/images/user2.png" />
          <span>Hired By {{contract?.client.name}}</span>

        </td>
        <td>
          <p>
          </p>
          <div class="money"><img src="/../../../../assets/images/money.png" /><span>{{contract?.budget | currency:'USD'}}</span></div>
          <div class="rate" *ngFor="let feedback of contract.feedback" >
            <div *ngIf="feedback.status==='fromClientToUser'">
              <div  [ngClass]="{'m-t-20' : getStars(user?.stars) == 0.5}">
                  <fieldset class="rating">
                    <div class="m-t-10">
                      <input type="radio" /><label *ngIf="feedback?.stars == 0.5"  [ngClass]="{'half' :  isInteger(0.5) == false}" ></label>
                    </div>
                    <div *ngFor="let in of  getStars(feedback?.stars)">
                      <input type="radio" /><label class="full"></label>
                      <input type="radio"  /><label  *ngIf="isInteger(feedback?.stars) == false"  [ngClass]="{'half' :  isInteger(feedback?.stars) == false}" ></label>
                    </div>
                  </fieldset>
              </div>
          </div></div></td>
        <td><p>{{contract?.startTime | date}}</p><p>{{contract?.finishTime | date}}</p></td>
        <td><span matTooltip="Give FeedBack" matTooltipClass="primary-tooltip" *ngIf="!contract.feedback[1]"><img src="/../../../../assets/images/edit.png" (click)="goTo(contract)" /></span></td>
      </tr>
    </tbody>

  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>
