@import '../../../../assets/sass/variables';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.feedback{
   padding: 50px 0px;
  .header{
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 20px;
    h3{
      color:$black;
      font-family: $Quicksand;
      font-size: 20px;
    }
  }
  .row{
    margin-top: 10px;
  }
  .input-group{
      padding-top: 10px;
  }
  .form-control{
      border-radius: 10px;
      border: 1px solid transparent;
      border-top: 1px solid $borderGrey;
      border-bottom: 1px solid $borderGrey;
      border-left: 1px solid $borderGrey;
      border-right: 1px solid $borderGrey;
      font-family: $openSans;
      font-size: 13px;

  }
  ::placeholder{
   color:#a7a7a7;
   font-family: $openSans;
   font-size: 13px;
  }
  .update{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  label{
    padding-top: 10px;
    color:$black;
    font-family: $openSans;
    font-size: 14px;
  }
  .btn-primary{
    background-color: transparent !important;
    border-color: $pink;
    color:$pink;
    width: 140px;
    float: right;

  }
  fieldset, label { margin: 0; padding: 0; }
  body{ margin: 20px; }
  h1 { font-size: 1.5em; margin: 10px; }

  /****** Style Star Rating Widget *****/

  .rating {
    border: none;
    float: left;
  }

  .rating >  input { display: none; }
  .rating >  label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }

  .rating >  .half:before {
    content: "\f089";
    position: absolute;
  }

  .rating >  label {
    color: #ddd;
   float: right;
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
  .background{
    margin-top: 10px;
    background:url(/../../../../assets/images/password-background.png);
    background-size: cover;
    height:100%;
  }
}
