<div class="feedback">
  <div class="header">
      <h3>Give Feedback</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(feedback)" #feedback="ngForm">
        <label for="exampleInputEmail1">Stars</label>
        <!--->
         <div class="input-group mb-3 .inline">
           <mat-form-field placeholder="Job Type">
             <mat-select  ngModel name="stars">
               <mat-option *ngFor="let star of stars" [value]="star">
                 {{ star}}
               </mat-option>
             </mat-select>
           </mat-form-field>

        </div>
        <!--->
        <div class="stars">
          <fieldset class="rating" #starsRef>
            <input type="radio" /><a class = "full  5"  (click)="rate(5)"></a>
            <input type="radio" /><a class="half 4.5" (click)="rate(4.5)"></a>
            <input type="radio" /><a class = "full 4"  (click)="rate(4)"></a>
            <input type="radio" /><a class="half 3.5"  (click)="rate(3.5)"></a>
            <input type="radio" /><a class = "full 3"   (click)="rate(3)"></a>
            <input type="radio" /><a class="half 2.5" (click)="rate(2.5)"></a>
            <input type="radio"  /><a class = "full  2"  (click)="rate(2)"></a>
            <input type="radio" /><a class="half 1.5"  (click)="rate(1.5)"></a>
            <input type="radio" /><a class = "full 1"   (click)="rate(1)"></a>
            <input type="radio" /><a class="half 0.5"  (click)="rate(0.5)" ></a>
          </fieldset>
        </div>

        <br />
        <div class="comment">
          <label for="exampleInputEmail1">Comment</label>
          <div class="input-group mb-3">
           <input type="text" class="form-control" ngModel name="comment" />
          </div>
        </div>

        <div class="update">
            <button class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
