<app-header></app-header>
<section class="How-it-works">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
                <div class="how ">
                   <div class="how-img">
                      <img src="/../../assets/images/how-1.png">
                   </div>
                   <div class="how-description">
                     <div class="box">
                       <span class="how-number">1</span>
                     <div>
                       <div class="flex">
                         <h5>Register an account</h5>
                         <img src="/../../assets/images/how-account.png">
                       </div>
                         <p>inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
                     </div>
                     </div>
                   </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
                <div class="how ">
                  <div class="how-img">
                     <img src="/../../assets/images/how-2.png">
                  </div>
                   <div class="how-description">
                     <div class="box">
                       <span class="how-number">2</span>
                     <div>
                       <div class="flex">
                         <h5>Specify & Search Your Job</h5>
                         <img src="/../../assets/images/how-search.png">
                       </div>
                         <p>inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
                     </div>
                     </div>
                   </div>

                </div>
              </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="how">
                   <div class="how-img">
                      <img src="/../../assets/images/how-3.png">
                   </div>
                   <div class="how-description">
                     <div class="box">
                       <span class="how-number">3</span>
                     <div>
                       <div class="flex">
                         <h5>Apply For Job</h5>
                         <img src="/../../assets/images/how-apply.png">
                       </div>
                         <p>inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
                     </div>
                     </div>
                   </div>
                </div>
          </div>
      </div>
    </div>
</section>
