<app-header></app-header>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="about">
        <h5>About Job Hunt</h5>
          <div class='row'>
              <div class="col-md-7">
                <p>Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much.</p>
                <p>Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p>
              </div>
              <div class="col-md-5">
                  <img src="/../../assets/images/about.png">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <p>Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much.</p>
                <p>Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p>
              </div>
          </div>
          <div class="social-network">
             <span>Share</span>
             <ul class="list-unstyled text-small">
               <li class="facebook"><a href="#" target="_blank"> <i class="fab fa-facebook-f" aria-hidden="true"> </i></a></li>
               <li class="twitter"><a href="#" target="_blank"> <i class="fab fa-twitter" aria-hidden="true"> </i></a></li>
               <li class="google"><a href="#" target="_blank"> <i class="fab fa-google" aria-hidden="true"> </i></a></li>
             </ul>
          </div>
          <div class="services">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                   <div class="service">
                     <div class="icon">
                       <i class="far fa-clock"></i>
                     </div>
                       <div class="description">
                          <h6>Advertise A Job</h6>
                          <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                       </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                   <div class="service">
                     <div class="icon">
                       <i class="fa fa-search"></i>
                     </div>
                       <div class="description">
                          <h6>CV Search</h6>
                          <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                       </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                   <div class="service">
                     <div class="icon">
                       <i class="fa fa-user"></i>
                     </div>
                       <div class="description">
                          <h6>Recruiter Profiles</h6>
                          <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                       </div>
                   </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                   <div class="service">
                     <div class="icon">
                       <i class="fa fa-chart-line"></i>
                     </div>
                       <div class="description">
                          <h6>Temp Search</h6>
                          <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                       </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                   <div class="service">
                     <div class="icon">
                       <i class="far fa-handshake"></i>
                    </div>
                       <div class="description">
                          <h6>Display Jobs</h6>
                          <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                       </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                   <div class="service">
                     <div class="icon">
                       <i class="fa fa-gem"></i>
                     </div>
                       <div class="description">
                          <h6>For Agencies</h6>
                          <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                       </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="testimonial">
      <div class="overlay">
         <div class="container">
           <h5 class="text-center">Kind Words From Happy Candidates</h5>
           <p class="text-center">What other people thought about the service provided by JobHunt</p>
             <div class="row">
               <ngb-carousel>
                  <ng-template ngbSlide>
                    <div class="row p-t-50">
                      <div class="col-lg-5 col-md-10 ">
                        <div class="slide">
                          <div class="slide-img">
                            <img src="/../../assets/images/review-1.png">
                            <div class="icon">
                              <i class="fa fa-quote-right"></i>
                            </div>
                          </div>
                          <div class="slide-info">
                              <h6>Augusta Silva<span>Web designer</span></h6>
                              <p>Without JobHunt i’d be homeless, they found me a job and got me sorted out
                                quickly with everything!  Can’t quite believe the service level that they offer!</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-10 second">
                        <div class="slide">
                          <div class="slide-img">
                            <img src="/../../assets/images/review-2.png">
                            <div class="icon">
                              <i class="fa fa-quote-right"></i>
                            </div>
                          </div>
                          <div class="slide-info">
                              <h6>Augusta Silva<span>Web designer</span></h6>
                              <p>Without JobHunt i’d be homeless, they found me a job and got me sorted out
                                quickly with everything!  Can’t quite believe the service level that they offer!</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="row p-t-50">
                      <div class="col-lg-5 col-md-10 ">
                        <div class="slide">
                          <div class="slide-img">
                            <img src="/../../assets/images/review-1.png">
                            <div class="icon">
                              <i class="fa fa-quote-right"></i>
                            </div>
                          </div>
                          <div class="slide-info">
                              <h6>Augusta Silva<span>Web designer</span></h6>
                              <p>Without JobHunt i’d be homeless, they found me a job and got me sorted out
                                quickly with everything!  Can’t quite believe the service level that they offer!</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-10 second">
                        <div class="slide">
                          <div class="slide-img">
                            <img src="/../../assets/images/review-2.png">
                            <div class="icon">
                              <i class="fa fa-quote-right"></i>
                            </div>
                          </div>
                          <div class="slide-info">
                              <h6>Augusta Silva<span>Web designer</span></h6>
                              <p>Without JobHunt i’d be homeless, they found me a job and got me sorted out
                                quickly with everything!  Can’t quite believe the service level that they offer!</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="row p-t-50">
                      <div class="col-lg-5 col-md-10 ">
                        <div class="slide">
                          <div class="slide-img">
                            <img src="/../../assets/images/review-1.png">
                            <div class="icon">
                              <i class="fa fa-quote-right"></i>
                            </div>
                          </div>
                          <div class="slide-info">
                              <h6>Augusta Silva<span>Web designer</span></h6>
                              <p>Without JobHunt i’d be homeless, they found me a job and got me sorted out
                                quickly with everything!  Can’t quite believe the service level that they offer!</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-10 second">
                        <div class="slide">
                          <div class="slide-img">
                            <img src="/../../assets/images/review-2.png">
                            <div class="icon">
                              <i class="fa fa-quote-right"></i>
                            </div>
                          </div>
                          <div class="slide-info">
                              <h6>Augusta Silva<span>Web designer</span></h6>
                              <p>Without JobHunt i’d be homeless, they found me a job and got me sorted out
                                quickly with everything!  Can’t quite believe the service level that they offer!</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                </ngb-carousel>
             </div>
         </div>
      </div>
  </div>
  <div class="statistics">
    <div class="container">
      <div class="row">
           <div class="col-md-3 col-sm-6">
               <h6>18</h6>
               <p>Jobs Posted</p>
           </div>
           <div class="col-md-3 col-sm-6">
               <h6>38</h6>
               <p>Jobs Filled</p>
           </div>
           <div class="col-md-3 col-sm-6">
               <h6>67</h6>
               <p>Companies</p>
           </div>
           <div class="col-md-3 col-sm-6">
               <h6>92</h6>
               <p>members</p>
           </div>
        </div>
    </div>
  </div>
  <div class="blog">
    <h5>Quick Career Tips</h5>
    <p>Found by employers communicate directly with hiring managers and recruiters.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="card" >
                <div class="card-img">
                  <img class="card-img-top" src="/../../assets/images/blog-1.png">
                  <div class="card-info">
                      <span>March 29, | 2017 0 Comments</span>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Attract More Attention Sales And Profits</h6>
                  <p class="card-text">A job is a regular activity performed in exchange becoming an employee, volunteering,</p>
                  <a class="btn btn-block">Read More</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card" >
                <div class="card-img">
                  <img class="card-img-top" src="/../../assets/images/blog-2.png">
                  <div class="card-info">
                      <span>March 29, | 2017 0 Comments</span>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Attract More Attention Sales And Profits</h6>
                  <p class="card-text">A job is a regular activity performed in exchange becoming an employee, volunteering,</p>
                  <a class="btn btn-block">Read More</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card" >
                <div class="card-img">
                  <img class="card-img-top" src="/../../assets/images/blog-3.png">
                  <div class="card-info">
                      <span>March 29, | 2017 0 Comments</span>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Attract More Attention Sales And Profits</h6>
                  <p class="card-text">A job is a regular activity performed in exchange becoming an employee, volunteering,</p>
                  <a class="btn btn-block">Read More</a>
                </div>
                </div>
            </div>
        </div>
    </div>

  </div>
<div class="companies">
    <div class="container">
      <h5>Companies We've Helped</h5>
      <p>Some of the companies we've helped recruit excellent applicants over the years.</p>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-6 offset-lg-1">
            <img src="/../../assets/images/company-1.png">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <img src="/../../assets/images/company-2.png">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <img src="/../../assets/images/company-3.png">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 offset-md-3 ">
            <img src="/../../assets/images/company-4.png">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 offset-sm-3">
            <img src="/../../assets/images/company-5.png">
          </div>
        </div>
    </div>
</div>
</section>
