<div class="shortlisted-job">
    <div class="header">
        <h3>Shortlisted Jobs</h3>
    </div>
    <div class="content">
      <table class="table">
    <thead>
      <tr>
        <th>Contracts</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let contract of contracts | paginate: { itemsPerPage: 5, currentPage: p }" (mouseenter)="makeActive=contract" (mouseleave)="makeActive=-1" [ngClass]="{active:makeActive==contract}">
      <tr>
        <td>
          <p>{{contract.title}}</p>
          <img src="/../../../../assets/images/user2.png" />
          <span>Hired By {{contract.client.name}}</span>
        </td>
        <td>
        <div class="money"><img src="/../../../../assets/images/money.png" /><span>{{contract.budget | currency:'USD'}}</span></div>
        <td class="date"><p>{{contract.startTime | date}}</p></td>
        <td>
          <span><strong>{{contract.status}}</strong></span>
        </td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </table>
    </div>
</div>
