<div class="sidebar-blog">
  <div class="input-group mb-3">
   <input type="text" class="form-control" ngModel placeholder="By Name" >
   <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"><img src="/../../../assets/images/search2.png"></span>
   </div>
  </div>
  <div class="widget">
      <h6>Categories</h6>
      <ul>
        <li><i class="fas fa-angle-right"></i>Education</li>
        <li><i class="fas fa-angle-right"></i>Information</li>
        <li><i class="fas fa-angle-right"></i>Learn</li>
        <li><i class="fas fa-angle-right"></i>Skills</li>
        <li><i class="fas fa-angle-right"></i>Jobs</li>
      </ul>
  </div>
  <div class="recent">
    <h6>Recent Posts</h6>
    <ul>
      <li>
        <img src="/../../../assets/images/recent-post-1.png">
        <div class="info">
            <p>Canada adds 12,500 jobs in modest July rebound</p>
            <span>October 25, 2017</span>
        </div>
      </li>
      <li>
        <img src="/../../../assets/images/recent-post-2.png">
        <div class="info">
            <p>Canada adds 12,500 jobs in modest July rebound</p>
            <span>October 25, 2017</span>
        </div>
      </li>
      <li>
        <img src="/../../../assets/images/recent-post-3.png">
        <div class="info">
            <p>Canada adds 12,500 jobs in modest July rebound</p>
            <span>October 25, 2017</span>
        </div>
      </li>
    </ul>

  </div>
  <div class="widget">
      <h6>Archives</h6>
      <ul>
        <li><i class="fas fa-angle-right"></i>April 2017</li>
        <li><i class="fas fa-angle-right"></i>March 2016</li>
        <li><i class="fas fa-angle-right"></i>February 2015</li>
        <li><i class="fas fa-angle-right"></i>July 2013</li>
      </ul>
  </div>
  <div class="widget">
      <h6>Meta</h6>
      <ul>
        <li><i class="fas fa-angle-right"></i>Log In</li>
        <li><i class="fas fa-angle-right"></i>Entries RRS</li>
        <li><i class="fas fa-angle-right"></i>Comments RRs</li>

      </ul>
  </div>
  <div class="photo">
    <h6>Our Photos</h6>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="/../../../assets/images/post-img-1.png">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="/../../../assets/images/post-img-2.png">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="/../../../assets/images/post-img-3.png">
          </div>

          <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="/../../../assets/images/post-img-4.png">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="/../../../assets/images/post-img-5.png">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="/../../../assets/images/post-img-6.png">
          </div>
      </div>
  </div>
  <div class="tags">
    <h6>Tags</h6>
    <mat-chip-list>
      <mat-chip>Photoshop</mat-chip>
      <mat-chip>Designer</mat-chip>
      <mat-chip>Developer</mat-chip>
      <mat-chip>illustrator</mat-chip>
    </mat-chip-list>
  </div>
</div>
