@import '../../../../assets/sass/variables';
.post-form{
  .input-group{
      padding-top: 10px;
  }
  .form-control{
      border-radius: 10px;
      border: 1px solid transparent;
      border-top: 1px solid $borderGrey;
      border-bottom: 1px solid $borderGrey;
      border-left: 1px solid $borderGrey;
      border-right: 1px solid $borderGrey;
      font-family: $openSans;
      font-size: 13px;

  }
  ::placeholder{
   color:#a7a7a7;
   font-family: $openSans;
   font-size: 13px;
   line-height: 2em;
  }
  textarea{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  label{
    padding-top: 10px;
    color:$black;
    font-family: $openSans;
    font-size: 14px;
  }
  .next{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .btn-primary{
    background-color:transparent;
    color:$pink;
    border-color: $pink;
    width: 140px;
    float: right;
  span{
    color:$pink;
  }
  }
}
.mat-chip:not(.mat-basic-chip){
  border-radius:4px;
  background-color: #f4f5fa;
  color:#888;
  font-family: $openSans;
  font-size: 13px;
}
.mat-calendar-content {
    padding: 0 28px 8px 8px;
  }
.mat-input-element{
      font-family: $openSans;
}
