<section class="page-404">
  <div class="overlay">
    <div class="container">
      <div class="logo">
        <img src="/../../assets/images/404.png">
      </div>
      <div class="content">
          <h6 class="text-center">We Are Sorry, Page Not Found</h6>
          <p class="text-center">Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist.<br/> Check the Url you entered for any mistakes and try again.</p>
          <div class="search">

            <div class="row">
              <div class="col-md-4 offset-md-4">
                <div class="input-group mb-3">
                 <input type="text" class="form-control" placeholder="Job title, keywords or company name" >
                </div>
              </div>
              <div class="col-md-2">
                <button class="btn btn-secondary btn-rounded-small"><img src="/../../assets/images/search.png"></button>
              </div>
            </div>
          </div>
          <button class="btn btn-primary">Go Back To Home Page</button>
      </div>
    </div>
  </div>
</section>
