@import '../../../assets/sass/variables';
.create-post{
  margin-top: 40px;
  .btn-file {
    margin-bottom: 30px;
    display: block;
  margin: 0 auto;
  width: 77%;
  height: 250px;
    background: url('../../../assets/images/upload.png')
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: $darkPurple;
  cursor: inherit;
  display: block;


  }
  .update{
    margin-top: 40px;
    .btn-primary{
      border-radius: 30px
    }
  }
  .p-t-40{
    margin-top: 40px
  }
  .form-control{
      border-radius: 10px;
      border: 1px solid transparent;
      border-top: 1px solid $borderGrey;
      border-bottom: 1px solid $borderGrey;
      border-left: 1px solid $borderGrey;
      border-right: 1px solid $borderGrey;
      font-family: $openSans;
      font-size: 13px;

  }
  ::placeholder{
   color:#a7a7a7;
   font-family: $openSans;
   font-size: 13px;
  }
  .mat-icon{
    color: $white
  }
  .addMore{
    float: right;
    display: block;
  }
   .mat-raised-button{
    border-radius: 30px;
  }
  .send{
    margin-top: 20px
  }
}
