<div class="messanger-list">
  <div class="sidebar" >
      <ul >

        <li>
          <img src="../../../assets/images/profile2.png" />
        </li>
        <li class="active">
           <i class="far fa-comments fa-1x" > </i>
        </li>
        <li>
           <i class="fas fa-home fa-1x"></i>
        </li>
        <li>
          <i class="fas fa-sign-out-alt fa-1x"></i>
        </li>
      </ul>
  </div>
  <div class="lists my-scroll-area" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
    <div class="header">
      <div class="search">
       <form class="form-inline my-2 my-lg-0">
         <button class="btn btn-outline-success btn-block my-2 my-sm-0" type="submit">Search...  <i class="fas fa-search fa-1x" > </i></button>
       </form>
       </div>
    </div>
   <ul>
      <li class="active">
        <div class="time">
          <p>
            3 Min
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile3.png" />
          </div>
          <div class="user-desc">
            <h5>Dparwal</h5>
            <p>Thanks again you have been....</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            1 Min
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile2.png" />
          </div>
          <div class="user-desc">
            <h5>Evanka Gardner</h5>
            <p>okay thanks =)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            2 Min
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile4.png" />
          </div>
          <div class="user-desc">
            <h5>Kely Doe</h5>
            <p>where is the nearest pla..</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            35 Min
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile5.png" />
          </div>
          <div class="user-desc">
            <h5>Patrick Smith</h5>
            <p>Ok that sounds perfect</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            20 Min
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile6.png" />
          </div>
          <div class="user-desc">
            <h5>Reyan Smith</h5>
            <p>Protect the senator at all....</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            1 Hours ago
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile7.png" />
          </div>
          <div class="user-desc">
            <h5>Shakira</h5>
            <p>Sp tell the voice inside....</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            1 Hours ago
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile.png" />
          </div>
          <div class="user-desc">
            <h5>Shakira</h5>
            <p>Sp tell the voice inside....</p>
          </div>
        </div>
      </li>
      <li>
        <div class="time">
          <p>
            1 Hours ago
          </p>
        </div>
        <div class="user-info">
          <div class="user-image">
            <span class="online"></span>
             <img src="../../../assets/images/profile7.png" />
          </div>
          <div class="user-desc">
            <h5>Shakira</h5>
            <p>Sp tell the voice inside....</p>
          </div>
        </div>
      </li>
   </ul>
  </div>
</div>
