<section class="Done">
     <div class="container">
         <div class="header-timeline">
           <div class="row">
             <div class="items">
   					 				<div class="item ">
                      <p><i class="fas fa-exclamation-circle"></i></p>
   					 					<span>Information</span>
   					 				</div>
                    <div class="item">
   					 					<p><i class="far fa-money-bill-alt"></i></p>
                      <span>Payement</span>

   					 				</div>
   					 				<div class="item active">
                      <p><i class="far fa-check-circle"></i></p>
   					 					<span>Done</span>
   					 				</div>
   					 </div>
           </div>
         </div>
         <div class="content">
           <div class="alert alert-primary" role="alert">
             You have Posted Your Job Successfuly
           </div>

         </div>
      </div>
</section>
